/********************************************
** UENTES
*********************************************/
:root {
    --font-body: "Poppins", sans-serif;
    --font-heading: "league spartan", sans-serif;
}

/********************************************
** PALETA DE COLORES
*********************************************/
:root {
    --color-primary: #0C2C47;
    --color-secondary:#2D5652;
    --color-terciary: #f5d8e7;
    --color-quaternary: #eeeae7;
}

/********************************************
** RESETEO + TIPOGRAFÍA GLOBAL
*********************************************/
* { box-sizing: border-box; }
html, body { height: 100%; }

body {
    margin: 0;
    font-family: var(--font-body);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    line-height: 1.2;
    margin-top: 0;
    text-transform: uppercase;
    padding-top: 40px;
}

/********************************************
** 1) SECCIÓN: PERFIL / HEADER
*********************************************/
.headerperfil {
    height: 40vh;
    padding: 60px 10%;
    display: flex;
    gap: 10vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-quaternary);
}

/* Imagen del perfil */
.imagen-perfil {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 15px 70px 40px;
}

/* Título del nombre */
.nombre {
    font-size: 5rem;
    color: var(--color-primary);
}

/******** MEDIA QUERIES — PERFIL ********/
@media (max-width: 1024px) {
    .imagen-perfil {
        max-width: 220px;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .headerperfil {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .imagen-perfil {
        width: 60vw;
        max-width: 200px;
        min-width: 150px;
    }
}

/********************************************
** 2) SECCIÓN: SOBRE MÍ
*********************************************/
.contenedorsobremi {
    min-height: 100vh;
    padding: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secondary);
    color: var(--color-terciary);
}

/* Texto */
.contenidosobremi {
    max-width: 450px;
    margin-right: 20px;
    user-select: text;
}

.titulosobremi {
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: right;
}

.parrafosobremi {
    font-size: 1.2rem;
    text-align: right;
}

/* Imagen celulares */
.imagen-celulares {
    width: 100%;
    max-width: 500px;
    height: auto;
}

/******** MEDIA QUERIES — SOBRE MÍ ********/
@media (max-width: 1024px) {
    .imagen-celulares {
        max-width: 500px;
    }
}

@media (max-width: 600px) {
    .contenedorsobremi {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
    }

    .imagen-celulares {
        width: 70vw;
        max-width: 320px;
        min-width: 200px;
    }
}

/********************************************
** ESPACIADO LATERAL SOLO EN DESKTOP
*********************************************/
@media (min-width: 900px) {

    .headerperfil,
    .contenedorsobremi,
    .footercontacto {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

/********************************************
** 3) SECCIÓN: HABILIDADES
*********************************************/
.contenedorhabilidades {
    position: relative;
    min-height: 100vh;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    color: var(--color-quaternary);
    background-image: url(assets/fondoflores.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CUADRADO AZUL ENTRE EL FONDO Y EL TEXTO */
.contenedorhabilidades::before {
    content: "";
    position: absolute;
    width: 600px;       
    height: 380px;     
    background-color: var(--color-primary); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;  
    border-radius: 40px;
}

/* TEXTO ENCIMA DEL CUADRADO */
.contenedorhabilidades * {
    position: relative;
    z-index: 2;         
}

.bloquehabilidades {
    max-width: 500px;      
    text-align: left;       
}

.titulohabilidades {
    font-size: 4rem;
    margin-bottom: 20px;
}

.listahabilidades {
    font-size: 1.2rem;
}

/********************************************
** 4) SECCIÓN: EDUCACION
*********************************************/
.contenedoreducacion {
    position: relative;
    min-height: 100vh;
    padding: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;

    color: var(--color-secondary);
    background-color: #f5d8e7;
    background-size: cover;
    background-position: center;
}

.bloqueeducacion {
    width: 80%;
    max-width: 1500px;          
    text-align: right;      
}

.tituloeducacion {
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: right;
}

.listaeducacion {
    font-size: 1.2rem;
    text-align: right;
    margin: 0;
    list-style: none;   
}

/********************************************
** 5) FOOTER CONTACTO
*********************************************/
.footercontacto {
    height: 40vh;
    padding: 60px 10%;
    padding-bottom: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;  
    align-items: start;

    color: var(--color-quaternary);
    background-color: var(--color-primary);
}

.bloqueefooter {
    width: 80%;
    max-width: 1500px;          
    text-align: left;       
}

.titulocontacto {
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: left;
}

.listacontacto {
    font-size: 1.2rem;
    text-align: left;
    margin: 0;  
    padding-left: 25px;
}

.footercontacto a:link {
    color: var(--color-quaternary);
    font-weight: 500;
}

.footercontacto a:visited {
    color: #f5d8e7;
}

.footercontacto a:hover {
    color: #f5d8e7;
}

.footercontacto a:active {
    color: #f5d8e7;
}

/************* SELECCION DE TEXTO ******************/

/* Selección en la sección de perfil */
.headerperfil ::selection {
    background-color: var(--color-primary);
    color: var(--color-quaternary);
}

/* Selección en la sección sobre mí */
.contenedorsobremi ::selection {
    background-color: var(--color-secondary);
    color: var(--color-terciary);
}

/* Selección en la sección habilidades */
.contenedorhabilidades ::selection {
    background-color: var(--color-quaternary);
    color: var(--color-primary);
}

.contenedoreducacion ::selection {
    background-color: var(--color-secondary);
    color: var(--color-terciary);
}

/* Selección en el footer */
.footercontacto ::selection {
    background-color: var(--color-quaternary);
    color: var(--color-primary);
}
